body {
    font-family: 'M PLUS 2', sans-serif;
    color: #505050;
    font-weight: 400;
    background-color: rgba(229, 234, 234, 0.79);
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;


}

.background {
    background-image: url("https://inbio-react.netlify.app/static/7d0974d6bfb4f74a14207d3b22945292/72f33/bg-image-9.webp");
    width: auto;
    height: 45%;
    background-size: cover;
    background-position: center;
}

.container {
    height: auto;
    max-width: 100%;
    margin: -100px 150px 0 150px;
}

.header {
    border-radius: 35px/30px;
    background-color: white;
    width: auto;
}

.profilePhoto {
    background-color: white;
    height: 200px;
    width: 200px;
    padding: 5px;
    border-radius: 35px/30px;
    margin: -115px 50px;
}

.image1 {
    height: 200px;
    width: 200px;
    border-radius: 35px/30px;
}

.image2 {
    border-radius: 35px/30px;
    height: auto;
    width: 100%;
    transition: transform .5s ease;
}


.menu {
    border-radius: 35px/30px;
    background-color: white;
    padding: 20px;
    margin: 20px 20px 0 0;
    height: 100%;
    width: auto;
    position: sticky;
    top: 0;
}

.content1 {

    border-radius: 35px/30px;
    background-color: white;
    padding: 40px;
    margin: 20px 0 0 20px;
    width: 100%;


}

.content2 {
    border-radius: 35px/30px;
    background-color: white;
    padding: 40px;
    margin: 20px 0 0 20px;
    width: 100%;
}

.content3 {
    border-radius: 35px/30px;
    background-color: white;
    padding: 40px;
    margin: 20px 0 0 20px;
    width: 100%;
}

.content4 {
    border-radius: 35px/30px;
    background-color: white;
    padding: 40px;
    margin: 20px 0 0 20px;
    width: 100%;
}

.content5 {
    border-radius: 35px/30px;
    background-color: white;
    padding: 40px;
    margin: 20px 0 0 20px;
    width: 100%;
}

.menuButton {
    width: 150px;
    height: 90px;
    margin: 10px;
    transition: transform .5s ease;
}

.icon {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 10px -3px #262626;
    font-size: 20px;
    background: rgba(229, 234, 234, 0.79);
    background: linear-gradient(346deg, rgba(229, 234, 234, 1) 0%, rgba(224, 242, 242, 0.989233193277311) 82%);
    margin: 10px;
    color: #c9c8c8;
    text-align: center;
    transition: transform .5s ease;
}

.icons i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash {
    width: 2px;
    height: 80%;
    background-color: #c9c8c8;
    margin: 10px;
}

.dash2 {
    width: 100%;
    height: 2px;
    background-color: #c9c8c8;
    margin: 30px 0 10px 0;
    text-align: center;
}

p, h5 {
    margin: 0;
    padding: 0;
}

.contactBox {
    margin: 10px;
    width: 150px;
    height: 50px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li:before {
    content: '✓';
}

li {
    margin: 10px;
}

.hireButton {
    height: 50px;
    width: 150px;
    background: rgb(229, 234, 234);
    background: linear-gradient(346deg, rgba(229, 234, 234, 1) 0%, rgba(224, 242, 242, 0.989233193277311) 82%);
    box-shadow: 0 0 10px -3px #262626;
    border: none;
    transition: transform .5s ease;
}


.doing {
    border: 1px solid lightgray;
    border-radius: 35px/30px;
    padding: 20px;
    margin: 10px;
}

.clientCard {
    background: rgb(229, 234, 234);
    background: linear-gradient(346deg, rgba(229, 234, 234, 1) 0%, rgba(224, 242, 242, 0.989233193277311) 82%);
    box-shadow: 0 0 10px -3px #262626;
    height: 200px;
    width: 160px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.resumeCard {
    width: auto;
    height: auto;
    background-color: rgba(208, 222, 222, 0.79);
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: rgb(229, 234, 234);
    background: linear-gradient(346deg, rgba(229, 234, 234, 1) 0%, rgba(224, 242, 242, 0.989233193277311) 82%);
    box-shadow: 0 0 10px -3px #262626;
    padding: 40px;
    transition: transform 0.5s;
}

.rate {
    background-color: white;
    width: 80px;
    text-align: center;
    padding: 10px;
    border-radius: 10px/10px;
    box-shadow: 0 0 10px -3px #262626;
}

.bigBar {
    height: 6px;
    width: 100%;
    border-radius: 10px/10px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 3px;
}

.smallBar {
    height: 6px;
    background: rgb(255, 255, 255);
    background: linear-gradient(80deg, rgba(255, 255, 255, 1) 31%, rgba(247, 21, 86, 1) 86%);
    border-radius: 10px/10px;
}

.workCard {
    background-color: rgba(229, 234, 234, 0.79);
    border-radius: 10px/10px;
    margin: 10px;
    padding: 20px;
    height: auto;
    width: auto;
    box-shadow: 0 0 10px -3px #262626;
    cursor: pointer;
    transition: transform .5s ease;
}

.workModal {
    height: 150px;
    width: 250px;
}


.workCard img {
    height: auto;
    width: 100%;
    border-radius: 10px/10px;
}

.contactCard {
    background-color: rgba(229, 234, 234, 0.79);
    border-radius: 10px/10px;
    margin: 10px;
    padding: 20px;
    height: auto;
    width: auto;
    box-shadow: 0 0 10px -3px #262626;

}

label {
    display: block;
    margin: 20px 0 0 0;
}

input {
    height: 50px;
    border-radius: 10px/10px;
    border: 1px solid gray;
}

.contactCard img {
    width: 250px;
}


.sendButton {
    height: 50px;
    width: 150px;
    background: rgb(229, 234, 234);
    background: linear-gradient(346deg, rgba(229, 234, 234, 1) 0%, rgba(224, 242, 242, 0.989233193277311) 82%);
    box-shadow: 0 0 10px -3px #262626;
    border: none;
    margin: 10px 0 0 0;
    transition: transform 0.5s;
}

.zoomEffect {
    overflow: hidden;
    border-radius: 10px/10px;
}

.hide {
    display: none;
}

/*Hover effects*/

.icons i:hover, button:hover, .menuButton:hover {
    color: white;
    background: #ea5454;
    transform: translate(0, -5px);
    border-radius: 10px/10px;
}

.clientCard:hover {
    color: #ea5454;
}

img:hover {
    transform: scale(1.2);
}
.resumeCard:hover {
    background: #ea5454;
    color: white;
}

.resumeCard:hover > div > .rate {
    background: #ea5454;
    color: white;
}

.workCard h2:hover {
    color: #ea5454;
}

.workCard:hover > h2 > .hide{
    display: inline-block;
    transform: rotate(310deg);
}

a:hover {
    color: #ea5454;
}


.d-flex {
    display: flex;
}

.s-evenly {
    justify-content: space-evenly;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-wrap {
    flex-wrap: wrap;
}

.al-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.f-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.f500 {
    font-weight: 500;
}

.ml-30 {
    margin-left: 30px
}

.ml-10 {
    margin-left: 10px;
}

.colorRed {
    color: #ea5454;
}

.colorGray {
    color: #505050;
}

.f-size-30 {
    font-size: 30px;
}

.m-0 {
    margin: 0;
}

.mtb-10 {
    margin: 30px 0 5px 0;
}

.m-10 {
    margin: 10px;
}


.w-100 {
    width: 100%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.h-150 {
    height: 150px;
}





